<%- include('partials/header') %>
<header>
  <h2>Daily Blogs</h2>
</header>
  <div class="container">
    <div class="loginbox">
        <h1> Login </h1>
        <p class="title1">Please authenticate yourself</p>
          <!-- Makes POST request to /login route -->
          <form action="/login" method="POST">
            <div class="form-group">
              <input type="email" class="form-control" name="username" placeholder="Username" required>
            </div>
            <div class="form-group">
              <input type="password" class="form-control" name="password" placeholder="Password" required>
            </div>
            <button type="submit" class="loginbtn">Login</button>
            <p class="para-2">Not have an Account?<a href="register" >Signup here</a></p>
            <div class="bottom-container">
            <button class="g-btn"> <a class="btn btn-block" href="/auth/google" role="button">
              Login by <i class="fa-brands fa-google">
            </a></i></button>
            <button class="f-btn">Login by <i class="fa-brands fa-facebook-f"></i></button>
            <button class="git-btn">Login by <i class="fa-brands fa-github"></i></button>
          </form>
    </div>
    </div>
  </div>

<%- include('partials/footer') %>
