<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Daily Journal</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/css/styles1.css">
  <body>
    <nav class="navbar">
        <div class="navbar-header">
          <p class="navbar-brand">Daily Blog</p>
        </div>
          <ul class="nav-bar">
            <!-- 6 -->
            <li id="home"><a href="/home">Home</a></li>
            <li id="about"><a href="/about">About</a></li>
            <li id="contact"><a href="/contact">Contact</a></li>
            <li id="compose"><a href="/compose">Compose</a></li>
            <!-- <li id="upload"><a href="/upload">Upload</a></li> -->
          <li id="Log Out" class="logout">  <a class="btn btn-light btn-lg" href="/logout" role="button">Log out</a></li>
          </ul>
    </nav>
